body
{
  background:  yellow;
}

h1
{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;

  margin: 2% 0% 0% 2%;
  padding: 2% 0% 0% 2%;
}

p
{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

img
{
  max-width: 100%;
}

.container
{
  width: 100%;
  margin: 0px auto;
  padding:  0px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
}

.fullwidth
{
  width: 96%;
  margin: 2%;
  padding: 2%;
  box-sizing: border-box;
  flex-wrap: wrap;

  background-color: white;
}

.halfwidth
{
  width: 46%;
  margin: 2%;
  padding: 2%;
  box-sizing: border-box;

  background-color: white;
}

.quarterwidth
{
  width: 21%;
  margin: 2%;
  padding: 2%;
  box-sizing: border-box;
}

.center
{
  text-align: center;
}