body
{
  background:  yellow;
}

h1
{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  /*text-align: center;*/

  /*margin: 2% 0% 0% 2%;
  padding: 2% 0% 0% 2%;*/
}

p
{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

img
{
  max-width: 100%;
}

#pagetitle
{
  width: 96%;
  margin: 2% 0% 0% 2%;
  padding:  2% 0% 0% 2%;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.circle
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;

  margin: 15px;
}

.animate1
{
  animation: move 3s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.animate2
{
  animation: move 3s ease-in-out infinite alternate;
  animation-delay: 0.1s;
}

.animate3
{
  animation: move 3s ease-in-out infinite alternate;
  animation-delay: 0.2s;
}

.animate4
{
  animation: move 3s ease-in-out infinite alternate;
  animation-delay: 0.3s;
}

.animate5
{
  animation: move 3s ease-in-out infinite alternate;
  animation-delay: 0.4s;
}

@keyframes move
{
  0%, 100%{
    transform: translate(0,0);
  }

  50%{
    transform: translate(100px,0);
  }
}

/* code from https://css-tricks.com/the-shapes-of-css/ */
/*#space-invader {
  box-shadow: 0 0 0 1em white,
  0 1em 0 1em white,
  -2.5em 1.5em 0 .5em white,
  2.5em 1.5em 0 .5em white,
  -3em -3em 0 0 white,
  3em -3em 0 0 white,
  -2em -2em 0 0 white,
  2em -2em 0 0 white,
  -3em -1em 0 0 white,
  -2em -1em 0 0 white,
  2em -1em 0 0 white,
  3em -1em 0 0 white,
  -4em 0 0 0 white,
  -3em 0 0 0 white,
  3em 0 0 0 white,
  4em 0 0 0 white,
  -5em 1em 0 0 white,
  -4em 1em 0 0 white,
  4em 1em 0 0 white,
  5em 1em 0 0 white,
  -5em 2em 0 0 white,
  5em 2em 0 0 white,
  -5em 3em 0 0 white,
  -3em 3em 0 0 white,
  3em 3em 0 0 white,
  5em 3em 0 0 white,
  -2em 4em 0 0 white,
  -1em 4em 0 0 white,
  1em 4em 0 0 white,
  2em 4em 0 0 white;
  background: white;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
}*/


.container
{
  width: 100%;
  margin: 0px auto;
  padding:  0px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
}

.fullwidth
{
  width: 96%;
  margin: 2%;
  padding: 2%;
  box-sizing: border-box;
  flex-wrap: wrap;

  background-color: white;
}

.halfwidth
{
  width: 46%;
  margin: 2%;
  padding: 2%;
  box-sizing: border-box;

  background-color: white;
}

.quarterwidth
{
  width: 21%;
  margin: 2%;
  padding: 2%;
  box-sizing: border-box;
}

.roundcorners
{
  border-radius: 50px;
}

.center
{
  text-align: center;
}